<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content}, showAside = false, pageTitle = '支付', head = ~{::head})}"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{shop/modules/breadcrumb}" />

    <shop-page-payments th:orderCode="${orderCode}" th:csrfToken="${_csrf.token}"> </shop-page-payments>

    <th:block th:replace="~{shop/modules/style}" />
    <th:block th:replace="~{shop/modules/script}" />
  </th:block>
</html>
