<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content}, showAside = true, pageTitle = ${category.spec.displayName}, head = ~{::head})}"
>
  <th:block th:fragment="content">
    <th:block th:if="${theme.config.style.switch_category_layout == false}">
      <th:block
        th:replace="~{modules/archive-layout/old :: layout(title=${category.spec.displayName}, posts=${posts}, thumbnail=${thumbnail}, icon='icon-[ph--folder-bold]', cover=${category.spec.cover}, description=${category.spec.description}, postCount=${category.postCount}, caller='category')}"
      />
    </th:block>
    <th:block th:if="${theme.config.style.switch_category_layout == true}">
      <th:block
        th:replace="~{modules/archive-layout/new :: layout(title=${category.spec.displayName}, posts=${posts}, thumbnail=${thumbnail}, backUrl='/categories', backText='分类列表', icon='icon-[ph--folder-bold]', emptyText='该分类下暂无文章')}"
      />
    </th:block>
  </th:block>
</html>
